.container{
    border:2px solid blue;
    text-align:center;
}
h1{
    margin:auto;
}
.row{
    /* height:90px;
    width:396px; */
    background-color:paleturquoise;
}

.high{
    margin: 10px;
}

.forms{
    
    padding-top: 10%;
    padding-left: 35%;
    padding-right: 35%;

}
