
form {
    width:600px;
    padding: 20px;
    margin:0 auto;
    border-radius: 10px;
    margin-top: 20px;
    border:2px solid  #15b000;
}
bouton {
    background-color: #3db8d6;
    padding: 14px 30px;
    margin:  auto ;
    cursor: pointer;
    width: 50%;
   
}
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
h2{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.bouton{
    padding: 14px 30px;
    margin:  auto ;
    cursor: pointer;
    width: 50%;
    border-radius: 12px;
    display: inline-block;
}

/* body{
    background: #45a6c4;
}




.navbar-style{
	box-shadow: 0 5px 10px #efefef;
} */